{% extends "Mclass/layout.html" %}
{% load static %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block script %}
    <script src="{% static 'Mclass/class.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="flex flex-col md:flex-row p-4">
        <div class="w-full md:w-1/2">
        <img src="{{ data.image }}" alt="Course Image" class="w-full h-auto rounded-lg shadow-lg">
        </div>
        <div class="w-full md:w-1/2 pl-4">
            <h1 class="text-3xl font-bold text-gray-800">{{ data.title }}</h1>
            <p class="text-lg text-gray-600 mt-2">{{ data.details }}</p>
            <p class="text-lg text-black font-bold mt-2">Instructor: {{ data.teacher }}</p>
            <div class="flex flex-wrap mt-4">
                <span class="border border-purple-500 bg-purple-100 text-xs font-bold text-purple-500 rounded-full px-3 py-1 mr-2 mb-2">{{ data.category }}</span>
                {% if data.private %}
                    <span class="px-3 py-1 mr-2 mb-2 border border-gray-500 bg-gray-100 text-xs font-bold text-gray-500 rounded-full">Private</span>
                {% else %}
                    <span class="px-3 py-1 mr-2 mb-2 border border-blue-500 bg-blue-100 text-xs font-bold text-blue-500 rounded-full">Public</span>
                {% endif %}
                {% if data.closed %}
                    <span class="border border-red-500 bg-red-100 text-xs font-bold text-red-500 px-3 py-1 mr-2 mb-2 rounded-full">Colsed</span>
                {% else %}
                    <span class="border border-green-500 bg-green-100 text-xs font-bold text-green-500 px-3 py-1 mr-2 mb-2 rounded-full">Available</span>
                {% endif %}
            </div>
            {% if user.is_authenticated and not user.is_teacher and not data.closed %}
                <form method="post" action="{% url 'class_view' data.title data.id %}">
                    {% csrf_token %}
                    {% if user.id not in data.students %}
                
                        {% if data.private %}
                            {% if user.id not in data.requests %}
                                <button type="submit" class="bg-blue-600 text-white px-4 py-2 mt-4 rounded-lg hover:bg-blue-700">Send Request</button>
                            {% else %}
                                <button type="submit" class="bg-gray-600 text-white px-4 py-2 mt-4 rounded-lg hover:bg-gray-700">Cancel Request</button>
                            {% endif %}
                        {% else %}
                        <button type="submit" class="bg-green-600 text-white px-4 py-2 mt-4 rounded-lg hover:bg-green-700">Enroll</button>
                        {% endif %}
                    {% else %}
                        <button type="submit" class="bg-red-600 text-white px-4 py-2 mt-4 rounded-lg hover:bg-red-700">Leave Class</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if user.id in data.students or user == teacher %}
            <div id="csrf">{% csrf_token %}</div>
            <div class="flex flex-row flex-wrap justify-center p-4">
                <a class="text-blue-500 px-4 py-2 mr-2 border-b-4 border-transparent hover:border-blue-600">Content</a>
                <a class="text-blue-500 px-4 py-2 mr-2 border-b-4 border-transparent hover:border-blue-600">Send Message</a>
                {% if user == teacher %}
                    <a class="text-blue-500 px-4 py-2 mr-2 border-b-4 border-transparent hover:border-blue-600" onclick="showStudents({{ data.id }})">Students</a>
                    <a class="text-blue-500 px-4 py-2 mr-2 border-b-4 border-transparent hover:border-blue-600">Settings</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <div id="inner-page" class="mb-5"></div>
{% endblock %}￼
