{% extends "Mclass/layout.html" %}
{% load static %}

{% block body %}
    {% if not user.is_authenticated %}
        <div class="flex items-center justify-center h-full">
            <div class="text-center">
                <h1 class="text-6xl font-bold underline">Welcome To Modern Class</h1>
                <p class="text-3xl">The best place to learn</p>
                <div class="text-xl bg-green-500 text-white px-4 py-2 rounded-lg">Login/Register To Get Started!</div>
            </div>
        </div>
    {% endif %}
{% endblock %}