{% extends "Mclass/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'Mclass/index.js' %}"></script>
{% endblock %}

{% block title %}
    Modern Class
{% endblock %}

{% block body %}
    <div id="csrf">{% csrf_token %}</div>
    {% if not user.is_authenticated %}
        <div class="mt-2 flex items-center justify-center h-full">
            <div class="text-center">
                <div class="bg-gray-400 px-4 py-2 rounded-lg">
                    <h1 class="text-purple-500 text-6xl font-bold underline">Welcome To Modern Class</h1>
                    <p class="mt-2 text-4xl">The best place to learn</p>
                    <div class=" mt-2 text-6xl text-white ">Login/Register To Get Started!</div>
                </div>
            </div>
        </div>
        <br>
        <div class="text-center container mx-auto px-4 py-2 bg-purple-300">
            <p class="text-lg font-semibold text-gray-700 hover:text-blue-600">All Classes</p>
        </div>
    {% else %}
        <div class="container mx-auto px-4 bg-purple-300">
            <nav class="flex items-center justify-between py-4">
                <div class="flex items-center space-x-4">
                    <a onclick="showClasses('all')" class="text-lg font-semibold text-gray-700 hover:text-blue-600">All Classes</a>
                    <a class="text-lg font-semibold text-gray-700 hover:text-blue-600">My Classes</a>
                    <a class="text-lg font-semibold text-gray-700 hover:text-blue-600">Filter</a>
                </div>
            </nav>
        </div>
    {% endif %}
    <div id="classes-list"> 
    </div>
{% endblock %}